html{
    background-color: floralwhite;
    font-family: 'Segoe UI', sans-serif;
    margin: 1% 5%;
}

h2{
    font-style: italic;
    font-size: 15pt;
    color:rgb(92, 92, 92);
    margin-bottom: -5px;
}

a{
    color:rgba(122, 13, 13, 0.75);
    text-decoration: none;
}

.header h1{
    font-weight: bold;
    font-size: 23pt;
    margin-bottom: -20px;
}

.header h2{
        font-style: italic;
        font-size: 15pt;
        color:rgb(92, 92, 92);
        margin-bottom: 0;
}

.header p{
    text-align: justify;
}

.header div{
    float: left;
    
}

.contacts{
    float: right;
    margin-left: 20px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(122, 13, 13, 0.75)
}

.contacts hr{
    color: rgba(122, 13, 13, 0.75);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.fit-picture{
    width:100;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jobs a {
    color: black !important;
}

.gnb{
    margin-left: 40px;
    padding:15px 0 15px 40px;
    list-style: none;
    background-image: url('https://img.finalfantasyxiv.com/lds/promo/h/8/fc5PYpEFGrg4qPYDq_YBbCy1X0.png');
    background-repeat:no-repeat;
    background-position: left center;
    background-size: 30px;
    font-size: 15;
}

.sch{
    margin-left: 40px;
    padding:15px 0 15px 40px;
    list-style: none;
    background-image: url('https://img.finalfantasyxiv.com/lds/promo/h/s/2r8fm3U0Io7Pw1XT1tvnjPthp4.png');
    background-repeat:no-repeat;
    background-position: left center;
    background-size: 30px;
    font-size: 15;
}

.dnc{
    margin-left: 40px;
    padding:15px 0 15px 40px;
    list-style: none;
    background-image: url('https://img.finalfantasyxiv.com/lds/promo/h/0/ZzzbixB1HHW9FaxNXdfY7Y7lvw.png');
    background-repeat:no-repeat;
    background-position: left center;
    background-size: 30px;
    font-size: 15;
}

.smn{
    margin-left: 40px;
    padding:15px 0 15px 40px;
    list-style: none;
    background-image: url('https://img.finalfantasyxiv.com/lds/promo/h/b/ZwJFxv3XnfqB5N6tKbgXKnj6BU.png');
    background-repeat:no-repeat;
    background-position: left center;
    background-size: 30px;
    font-size: 15;
}

ul h3{
    margin:0;
    font-size: 17;
}

.skill-set li{
    background:rgba(122, 13, 13, 0.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:10px 10px 0 0;
	padding:5px;
	text-align:justify;
}

.skill-set li:hover{
    background: rgb(175, 89, 8);
    color: #FFF;
}

.skill-set a{
    color: #FFF !important;
}

.work p{
    font-weight: bold;
}

.work ul{
    margin-top: -10px;
}